<!-- Start toolbar -->
<mat-toolbar>
  <button mat-icon-button class="example-icon"> 
    <mat-icon>menu</mat-icon>
  </button>
  <span>My application</span>
  <span class="example-spacer"></span>
  <span class="text-normal">Hello!! User</span> &nbsp;
  <button mat-stroked-button class="example-stroked">
    My Detail
  </button>
</mat-toolbar>
<!-- End Toolbar -->

<!-- Start SideNav -->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav id="sidenav" mode="side" opened class="example-sidenav">
    <mat-nav-list class="example-list" id="example-list">
      <a mat-list-item href="/dashboard">
        <mat-icon>home</mat-icon>
        Dashboard
      </a>
      <a mat-list-item href="#">
        <mat-icon class="icon-sidenav">list</mat-icon>
        <span>Item List</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- End SideNav -->