:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .radio-button{
      margin:10px;
  }
  CSS
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
