<div class="addPet" >
<h1>Add New Pet</h1>
<form [formGroup]="addNewForm" (ngSubmit)="onSubmit()">
  <!-- form input start -->
  <mat-form-field appearance="fill">
    <mat-label >Pet Name</mat-label>
    <input matInput formControlName="petName" >
  </mat-form-field><br>
  
  <mat-form-field appearance="fill">
    <mat-label>Pet type</mat-label>
    <mat-select formControlName="type">
      <mat-option value="shiba">Shiba</mat-option>
      <mat-option value="alaska">Alaska</mat-option>
    </mat-select>
  </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field><br>
  
  <mat-radio-group aria-label="Select an option" formControlName="gender">
      <mat-label>Choose gender:</mat-label><br>
    <mat-radio-button value="male" class="radio-button">Male</mat-radio-button>
    <mat-radio-button value="female">Female</mat-radio-button>
  </mat-radio-group>

  <section class="example-section" >
    <mat-label class="example-margin">Injected Vaccination</mat-label>
    <ul>
        <li>
          <mat-checkbox formControlName="vaccineA">Vaccine A</mat-checkbox>
        </li>
        <li>
            <mat-checkbox formControlName="vaccineB">Vaccine B</mat-checkbox>
          </li>
          <li>
            <mat-checkbox formControlName="vaccineC">Vaccine C</mat-checkbox>
          </li>

      </ul>
  </section>
  <section>
  <mat-slide-toggle formControlName="promotion">
    Promotion
  </mat-slide-toggle>
</section> 
<button type="submit">Submit</button>
</form>
<p>value {{addNewForm.value |json}}</p>
   <!-- form input end -->
</div>